$colour-primary: rgba(196,148,79,1);
$colour-primary-light: rgba(243,191,104,1);
$colour-primary-dark: rgba(97,53,22,1);
$colour-primary-gradient: linear-gradient(135deg, $colour-primary-light 0%, $colour-primary-dark 100%);
$colour-secondary: rgba(126, 16, 0, 1);
$colour-dark: rgba(11,11,11,1);
$colour-torch-active: rgba(252,113,52,1);
$colour-torch-active-tint: rgba(254, 92, 43, 1);
$colour-torch-active-light:rgba(252,176,69,1);
$colour-torch-active-darkest: rgba(52, 39, 33, 1);
$colour-torch-active-darker: rgba(138,21,4,1);
$colour-torch-active-dark: rgba(253,29,29,1);
$colour-torch-active-gradient: radial-gradient(circle at center, $colour-torch-active-tint 0%, $colour-torch-active-darker 50%, $colour-torch-active-darkest 100%);
$colour-torch-inactive: rgba(54, 65, 111, 1);
$colour-torch-inactive-light:rgba(116, 134, 209, 1);
$colour-torch-inactive-dark: rgba(50, 55, 100,1);
$colour-torch-inactive-gradient: radial-gradient(circle at center, $colour-torch-inactive-light 0%, $colour-torch-inactive-dark 100%);